<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vistas.Properties.Settings.comdepConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\marti\OneDrive\Documentos\GitHub\lpoo1-tp1-g3\LPOOI_GRUPO_3\ClasesBase\comdep.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>